[Unit]
Description=Gunicorn daemon for E-Commerce Backend
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/app/backend
Environment="PATH=/app/backend/venv/bin"
ExecStart=/app/backend/venv/bin/gunicorn config.wsgi:application -c /app/gunicorn.conf.py

[Install]
WantedBy=multi-user.target
